@page "{handler?}/{id?}"
@model Clean.UI.Pages.Security.RoleScreensModel
@{
    Layout = null;
}

@Html.AntiForgeryToken()



<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">صفحات مربوط به نقش</h1>
    </div>

    <div class="panel-body">
        <form id="dv_Security_RoleScreens" class="form sub-form page-component" parent="dv_Security_Roles" parentcol="RoleId" type="form" prefix="he">
            <fieldset class="content-group">
                <legend class="text-bold">صفحات مرتبط</legend>
                <div class="row">



                    <div class="col-md-8 ">
                        <div class="form-group">
                            <label class="text-bold">
                                صفحه
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="hescreenid" name="heScreenID" asp-items="@Model.ListOfScreens" class="select" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />


            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت </button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                        @*<button type="button" class="btn  pull-left" style="background-color:rgba(239, 0, 0, 0.8); color:white" action="delete"><i class=" icon-floppy-disk position-left"></i>حذف صفحه برای نقش</button>*@
                    </div>
                </div>
            </div>
            <div class="div-grid-control" style="display:none;">
                <a href="javascript:void(0);" class="grid-action" style="color:orangered;" action="remove"><i class="icon-cross3" style="color:orangered;"></i>حذف</a>
            </div>
            <div class="form-grid main-form-details">
                <table >
                    <thead>
                        <tr>
                            <th colname="RoleName">نقش</th>
                            <th colname="ScreenName">صفحه</th>
                            <th colname="singleaction">عملیات</th>


                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>
