@font-face {
  font-family: 'bRoya';
  src: url('fonts/BRoya.eot') format('eot'),  /* IE6–8 */
       url('fonts/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('fonts/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body, label, p, h1, h2, h3, h4, h4, h6, input span{
    font-family:bRoya !important;
}

.Farsi{
    font-family:bRoya !important;
}

.div-row{
    font-size:14px;
}





