@page "{handler?}"
@model Clean.UI.Pages.Settings.OrganizationModel
@{
    ViewData["Title"] = "Organization";
}

@Html.AntiForgeryToken()
    <div class="panel panel-flat" >
        <div class="panel-heading">
            <h1 class="panel-title">تنظیمات کاربری</h1>
        </div>
        <div class="panel-body">
            <form id="dv_Settings_Organization" class="form main-form page-component" type="form" prefix="or">
                <fieldset class="content-group">
                    <legend class="text-bold">ثبت و ویرایش ارگان ها</legend>
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label class="text-bold">
                                        نام دری
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <input type="text" id="ordari" name="orNameDari" class="form-control search" required />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label class="text-bold">
                                        نام پشتو
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <input type="text" id="orpashto" name="orPashto" class="form-control search" required />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="text-bold">
                                        نام انگلیسی
                                    </label>
                                    <input type="text" id="orname" name="orName" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="text-bold">
                                        کود
                                    </label>
                                    <input type="text" id="orcode" name="orCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label class="text-bold">
                                        نوعیت
                                    </label>
                                    <select id="ororganizationtypeid" name="orOrganizationTypeID" class="select">
                                        <option value="">--</option>
                                        <option value="1">وزارتخانه</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="row div-form-control main-form-details">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                            <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>جستجو </button>
                            <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                        </div>
                    </div>
                </div>
                <div class="form-grid main-form-details" style="">
                    <table  bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="dari">نام دری</th>
                                <th colname="name">نام انگلیسی</th>
                                <th colname="code">کود</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </form>
        </div>


        <div class="page-sidebar page-component" type="actionmenu">
            <ul class="navigation navigation-alt navigation-accordion">

                @Html.Raw(@Model.SubScreens)
            </ul>
        </div>
    </div>