@page "{handler?}/{id?}"
@model Clean.UI.Pages.Document.DocumentModel
@{
    Layout = null;
}

<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">اسناد و ضمایم</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">

        <form id="dv_Document_Document" class="form sub-form page-component" type="form" prefix="uxpd" parentcol="recordid">
            <fieldset class="content-group">
                <legend class="text-bold">اسناد و ضمایم کارمند را ثبت، تغیر و حذف نمائید</legend>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="text-bold">
                            نوع سند/ضمیمه
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group" >
                            <select id="uxpddocumenttypeid" name="uxpdDocumentTypeId" asp-items="@Model.ListOfDocumentTypes" class="select" required>
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="text-bold">
                            منبع سند

                        </label>
                        <div class="form-group" >

                            <input type="text" id="uxpddocumentsource" name="uxpdDocumentSource" class="form-control " />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="text-bold">
                            نمبر سند

                        </label>
                        <div class="form-group" >

                            <input type="text" id="uxpddocumentnumber" name="uxpdDocumentNumber" class="form-control " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <label class="text-bold">
                            تاریخ سند
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group" >

                            <input type="text" id="uxpddocumentdateshamsi" sibling="uxpddocumentdate" name="uxpdDocumentDateShamsi" class="form-control Shamsi" />
                            <input type="hidden" id="uxpddocumentdate" sibling="uxpddocumentdateshamsi" name="uxpdDocumentDate" class="form-control Miladi" />
                        </div>
                    </div>



                    <div class="col-md-8 col-sm-12 col-xs-12 pull-left file-parent">
                        <label class="text-bold">
                            سند/ضمیمه را انتخاب نمائید
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group">
                            <input type="file" id="uxpdattachement" name="attachement" class="file-attachment" data-show-upload="false" data-show-preview="false" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">ملاحضات </label>
                            <textarea id="uxpddescription" name="uxpddescription" rows="2" cols="2" class="form-control remarks"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-new-tab position-left"></i>جستجو </button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table  bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="DocumentTypeText">نوع سند/ضمیمه</th>
                            <th colname="UploadDateText">تاریخ ثبت سند/ضمیمه</th>
                            <th colname="DownloadDateText">آخرین تاریخ دانلود</th>
                            <th colname="path">فایل ثبت شده</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>

